extends layout

block layout-content
  div.View.HomeView
    h1.Banner DECSAI
    div.MenuButtons
      a(href="/user")
          div.MenuButton Informes departamento
      a(href="/user")
          div.MenuButton Informes docencia
    div.Message
      div.Title
        h3 lalala
        h1 lalala
      span.Details lalala