@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

table {
  width: 100%;
  border: 1px solid #fff;
  border-collapse: collapse;
  border-radius: 8px;
}

tbody {
  background-color: #fff;
}

th,
td {
  text-transform: capitalize;
  border: 1px solid #fff;
  color: #000;
  height: 20px;
}

th {
  padding: 8px 10px;
  height: 20%;
  background-color: #808e9b;
}

tr, td {
  background-color: #fff;
  padding: 6px 8px;
  height: 20%;
}

tbody tr:hover {
  background-color: #778ca3;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.HomeView {
  background: url("../img/background.jpg");
  background-attachment: fixed;
  background-size: cover;

}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  padding: 20px;

  background-size: cover;

  font-family: "Merriweather Sans", sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: #2a3747;
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}


.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
  background: white;
  padding: 15px;
  font-family: "Share Tech Mono", monospace;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.Header {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.Menu {
  display: flex;
  background-color: #D5DBDB;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;

  overflow: hidden;
  padding: 5px;

  font-family: "Share Tech Mono", monospace;
}

.Submenu {
  display: flex;
  background-color: #D5DBDB;
  max-width: 90%;
  max-height: 25px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px;

  font-family: "Share Tech Mono", monospace;
}

.Body {
  background: white;
  max-height: 50%;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Share Tech Mono", monospace;
  padding: 10px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}


.Message {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.Message > .Title {
  padding-bottom: 20px;
}

.Message > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.MenuButton {
  height: 15px;
  background: #fa4141;
  border-radius: 30px;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}